{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2 class="heading">{% trans "Sign Out" %}</h2>
        </div>
    </div>

    <div class="color-background-light">
        <p class="text-dark text-center">{% trans 'Are you sure you want to sign out?' %}</p>
     
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="center-button">
                        <div class="signout">
                            <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
                        </div>
                        <div class="cancel_signout">
                            <a class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}