{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
Password Reset
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Password Reset</h2>
            <p class="text-dark text-center">This page is under construction. If you need a new password please contact us on
                <a href="mailto:malin_christina@yahoo.se">email.</a>
            </p>
            <div class="center-button">
                <a href="{% url 'home' %}">
                    <button class="btn btn-primary">Home</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}