{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h2 class="heading text-center">{% trans "Sign Up" %}</h2>
    </div>
  </div>
  <div class="color-background-light">
    <p class="text-dark text-center">{% blocktrans %}Welcome!</p>
    <p class="text-dark">To take part of this community, leave a comment or like an activity, please sign up. If
        you already have an account, then please
        <a class="link" href="{{ login_url }}">log in</a> instead.
        {% endblocktrans %}
  
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          <button class="btn btn-primary right" type="submit">{% trans 'Sign Up' %}</button>
        </form>
      </div>
    </div>  
  </div>        
</div>
{% endblock %}