{% extends "base.html" %}

{% block content %}
  <div class="container background-container-about mt-4">
    <div class="row">
      <div class="col">
        <h2 class="text-center heading">My Journey and Why I Created This Library</h2>
      </div>
    </div>
    <div class="color-background">
      <div class="row">
        <div class="col-12">  
          <div class="about-text">
            <p class="text-dark">
              The reason I wanted to create this library is that I myself went through a really tough burnout. 
              The first few months were incredibly challenging; it could take me two hours just to get dressed for a walk, and 
              I often ended up just sitting on the stairs outside my house. I had to set alarms to remind myself to eat breakfast,
              lunch, and dinner. Routines played a pivotal role in the beginning, and there was not much else I had energy for.
            </p>
            <p class="text-dark">
              Eventually, as my nervous system began to recover, I wanted to add something more to my days, but I had no idea what. 
              The creative part of my brain was totally shut down, so I started to google for ideas. 
              Even that felt like too much effort. This library exists so that you don't have to go through that struggle. 
              I want this to be a supportive and safe space where we can share our experiences.
            </p>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="about-text">
            <p class="text-dark">
              No journey is the same, but we can all benefit from guidance from someone who truly understands where we're coming from.        
            </p>
            <p class="text-dark">
              If you have any feedback or questions, please feel free to send me an 
              <a href="mailto:malin_christina@yahoo.se">email</a>.
            </p>
            <p class="text-dark">Much love, Malin</p>
          </div>
        </div>    
        <div class="col-12 col-md-4 d-none d-md-flex justify-content-center align-items-center">
          <div class="about-img-div">
            <div class="about-img"></div>
          </div>
        </div>
        <div class="col-12 d-md-none">
          <div class="about-img-div">
            <div class="about-img"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
