{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Handbook for Burnout</h1>
    <p>Whether you're looking for soothing meditations, gentle activities to regain energy, 
        or insightful podcasts to uplift your spirit, Handbok for Burnout is your go-to resource for 
        reclaiming balance and well-being. Join us and take the first step towards recovery with a community that cares. 
        Share your own experiences and tips to help build this library and support others too.
    </p>
    <!--<p>Our activities are sorted into three Energy Levels, so you can easily find the ones that suit you best:
        Energy Level 1: Calming, destressing activities
        Energy Level 2: Moderate engagement activities
        Energy Level 3: Higher engagement activities</p> -->
    <p>To view the full content, you need to be registered and logged in. As a logged-in user, you can comment on, 
        and rate activities. To keep this space safe and supportive, please maintain a polite tone in your comments. 
        If there is an activity that does not suit you, feel free to simply scroll on.
    </p>
    <p>Discover the right activities for your current state and embark on a journey to recovery with Handbok for Burnout.</p>
    <p>Start by <a href="{% url 'account_signup' %}">registering</a> or <a href="{% url 'account_login' %}">logging in</a> to access the full library.

    </p>

  {% endblock %}