@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Global */

#heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

h2.heading {
  font-family: Garamond, serif;
  color: #333;
}

/* index */

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: 25vh;
  object-fit: cover;
}

#welcome-heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.background-container {
  background: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.level-list {
  opacity: 0.8;
}

.alert {
  opacity: 0.7;
}

/* Categories */

.background-container-cat {
  background: url(../images/categories-img.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#category-heading {
  margin-bottom: 3rem;
}

.card-body {
  background-color: #fbfaee;
}

/* About */

.background-container-about {
  background: url(../images/about.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}