@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* General */

main {
  flex: 1 0 auto;
}

.heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #4B4947;
  text-align: center;
}

h2.heading {
  font-family: Garamond, serif;
  color: #4B4947;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #4B4947;
  background-color: #f8f9fa;
  margin-bottom: 40px;
}

.btn-primary {
  background-color: #FBB7C0;
  border-color: #FBB7C0;
  color: black;
}

.btn-primary:hover {
  background-color: #DC136C;
  border-color: #DC136C;
  color: #4B4947;
  color: white;
}

ul {
  list-style-type: none;
}

.heading-left {
  text-align: left;
}

/* index */

#heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #4B4947;
  text-align: center;
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: 14vh;
  object-fit: contain;
}

#welcome-heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #4B4947;
  text-align: center;
}

.background-container {
  background: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.level-list {
  opacity: 0.8;
}

.alert {
  opacity: 0.7;
}

/* Categories */

#category-heading {
  margin-bottom: 3rem;
}

.cat-cards {
  margin-top: 10px;
}

.card-body {
  background-color: #C4E0EB;
}

/* Podcasts */
.podcast-img {
  background: url(../images/podcast.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.9;
}

/* Indoor activities */
.indoor-img {
  background: url(../images/indoor-activities.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
}

/* Outdoor activities */
.outdoor-img {
  background: url(../images/outdoor-activities.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.9;
}

/* Routines */
.routines-img {
  background: url(../images/routines.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.8;
}

/* About */

.about-text {
  padding-top: 10px;
}

.about-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  background: url(../images/me.webp) no-repeat center center/cover;
  width: 333px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  max-width: 333px;
}

/* Activities */

.activity_name {
  margin-top: 20px;
}

.activity-p {
  padding: 20px 5px 0 10px;
}

.activity-link {
  display: inline-block;
  text-overflow: ellipsis;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
}

.previous-btn {
  margin-left: 31px;
}

/* Reviews */



/* Sign out */



/* Footer */

.footer {
  position: fixed;
  left: 0;
  height: 7vh;
  bottom: 0px;
  width: 100%;
  background-color: #4B4947;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
}

@media screen and (min-width: 768px) {
  .img-fluid {
    max-width: 100%;
    height: 25vh;
    object-fit: cover;
  }

  /* About */
  .about-img {
    background: url(../images/me.webp) no-repeat center center/cover;
    width: 225px;
    height: auto;
    border-radius: 3px;
    aspect-ratio: 1/1;
    max-width: 225px;
    margin-left: 10px;
  }
  
}
