@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Global */

.heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

h2.heading {
  font-family: Garamond, serif;
  color: #333;
}

.activity-p {
  padding: 0 5px 0 10px;
}

/* index */

#heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: 25vh;
  object-fit: cover;
}

#welcome-heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.background-container {
  background: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.level-list {
  opacity: 0.8;
}

.alert {
  opacity: 0.7;
}

/* Categories */

#category-heading {
  margin-bottom: 3rem;
}

.cat-cards {
  margin-top: 10px;
}

.card-body {
  background-color: #fbfaee;
}

/* About */

.about-text {
  padding-top: 10px;
}

.about-img {
  background: url(../images/me.webp) no-repeat center center/cover;
  width: auto;
  height: 90vw;
  border-radius: 50%;
  margin: 20px 0 20px 0;
}