{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'add_activity' as add_activity_url %}
{% url 'home' as home_url %}
{% url 'categories' as categories_url %}
{% url 'about' as about_url %}

<header>
  <nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == categories_url %}active{% endif %}" aria-current="page" href="{% url 'categories' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/about' %}active{% endif %}" aria-current="page" href="{% url 'about' %}">About</a>
          </li>
          {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == add_activity_url %}active{% endif %}" aria-current="page" href="{% url 'add_activity' %}">Add Activity</a>
              </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/accounts/logout/' %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
