<ul>
    {% for activity in activities %}
    <li>
        <h3>{{ activity.activity_name }}</h3> 
        <p>{{ activity.description }}</p>
        {% if activity.url_link %}
        <p><a href="{{ activity.url_link }}" target="_blank">{{ activity.url_link }}</a></p> 
        {% endif %} 
        <p><strong>Category:</strong> {{ category_name }}</p>
        <p><strong>Level:</strong> {{ activity.get_level_display }}</p>
        <a href="{% url 'reviews' activity.pk %}">Reviews</a>
        {% if user.is_authenticated and user.is_staff %}
        <p>
            <button class="btn btn-primary" data-edit-url="{% url 'edit_activity' activity.pk %}" onclick="ToEditActivity(this)">Edit</button>
        </p>
        <p>
            <button class="btn btn-danger" data-delete-url="{% url 'delete_activity' activity.pk %}" onclick="ToDeleteActivity(this)">Delete</button>
        </p>
        {% endif %}
    </li>
    {% empty %}
    <li>No routines found.</li>
    {% endfor %}
</ul>
