{% extends "base.html" %}
{% load static %}

{% block content %}
  
  <!-- Main content based on page_specific_content -->
  
  {% block specific_content %}  
  {% endblock %}
  <!-- Include the activities list -->
  {% include 'activities/activities_list.html' with activities=activities category_name=category_name %}

  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete activity?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this activity? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form id="delete-form" method="post" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Button previous page -->
  <div class="previous-div">
    <input class="btn btn-primary previous-btn" type="button" id="back-one-page" value="Previous page" onClick="javascript:history.go(-1);">
  </div>
  {% endblock %}

{% block extras %}
  <script src="{% static 'js/activities.js' %}"></script>
{% endblock %}
