{% extends "activities/base_activities.html" %}
{% load static %}

{% block specific_content %}
<h2 class="heading text-center">{{ category_name }}</h2>
<div class="indoor-img" ></div>
<p class="text-dark activity-p">Engaging in calm indoor activities can be a highly effective way to manage burnout. 
    These activities provide a peaceful environment that helps to reduce stress, promote relaxation, 
    and offer a much-needed break from the pressures of daily life. 
    They allow individuals to recharge both mentally and physically, fostering a sense of well-being and balance.
</p>
{% endblock %}