{% extends "activities/base_activities.html" %}
{% load static %}

{% block specific_content %}
<h2 class="heading">{{ category_name }}</h2>
<div class="outdoor-img"></div>
<p class="text-dark activity-p">Participating in outdoor activities can be an excellent strategy for managing burnout. 
    The fresh air and natural surroundings provide a refreshing change of scenery that helps to alleviate 
    stress and invigorate the mind. Engaging with nature through gentle walks, or simply enjoying 
    the outdoors can enhance mood, boost energy levels, and promote a sense of overall well-being.</p>
{% endblock %}