{% extends "activities/base_activities.html" %}
{% load static %}

{% block specific_content %}
<h2 class="heading text-center">{{ category_name }}</h2>
<div class="routines-img"></div>
<p class="text-dark activity-p">When the nervous system is in a constant state of stress, it can lead to burnout. 
  This condition occurs when we continuously ignore the body's signals to slow down and rest. 
  Burnout is often accompanied by difficulties in sleeping and a loss of appetite. 
  Establishing and maintaining routines can be instrumental in aiding recovery from burnout. 
  Here are some key areas to focus on.
</p>
{% endblock %}
