{% extends "base.html" %}
{% load static %}

{% block title %}
403 Forbidden
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">403 Forbidden</h2>
            <p class="text-dark text-center">Sorry, you are not authorized to view this page.</p>
            <a href="{ url 'home' }">
                <button class="btn btn-primary previous-btn">Home</button>
            </a>
        </div>
    </div>

{% endblock %}