{% extends "base.html" %}
{% load static %}

{% block title %}
404 Not Found
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">404 Not Found</h2>
            <p class="text-dark text-center">Sorry, the page you are looking for could not be found.</p>
            <div class="center-button">
                <a href="{% url 'home' %}">
                    <button class="btn btn-primary">Home</button>
                </a>
            </div>    
        </div>
    </div>

{% endblock %}