{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        {% block extra_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- Custom CSS-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        <!-- Onload JS 
        {% block onload_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endblock %} -->
        
        <title>Handbook for burnout - {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/header.html' %}

        <main class="flex-shrink-0 main-bg">
            {% if user.is_authenticated %}
            <p class="text-end m-3">You are logged in as {{ user }}</p>
            {% else %}
            <p class="text-end m-3">You are not logged in</p>
            {% endif %}

             <!-- Placeholder for the child template content -->
            <div class="container">
                {% block content %}
                <!-- Default content (if any) can go here -->
                {% endblock %}
            </div>
            
        </main>

        {% include 'includes/footer.html' %}

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-Rh2gPpsPi5LC+5kmK1k6E+CxFVOk8bmCsyGv6xCJfP6F2m/NbVjY4Y7OikupYFtUp0t2j/WW47/QJk1EmAMgDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
