{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <h1 id="category-heading">Categories</h1>
        <ul class="list-group">
          {% for category in categories %}
            {% if user.is_authenticated %}
              {% if category.category_name == 'Routines' %}
                <li class="list-group-item">
                  <a href="{% url 'routines' %}">{{ category.category_name }}</a>
                </li>
              {% elif category.category_name == 'Podcasts' %}
                <li class="list-group-item">
                  <a href="{% url 'podcasts' %}">{{ category.category_name }}</a>
                </li>
              {% elif category.category_name == 'Indoor activities' %}
                <li class="list-group-item">
                  <a href="{% url 'indoor-activities' %}">{{ category.category_name }}</a>
                </li>
              {% elif category.category_name == 'Outdoor activities' %}
                <li class="list-group-item">
                  <a href="{% url 'outdoor-activities' %}">{{ category.category_name }}</a>
                </li>
              {% else %}
                <li class="list-group-item">{{ category.category_name }}</li>
              {% endif %}
            {% else %}
              <li class="list-group-item">{{ category.category_name }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if not user.is_authenticated %}
          <div class="alert alert-warning mt-4" role="alert">
            <p>The content on each category can only be viewed if you are logged in. Do you want to <a href="{% url 'account_login' %}" class="alert-link">log in</a>?</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

