@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --square-blue: #C4E0EB;
  --square-beige: #F5EFE8;
  --light-pink: #FBB7C0;
  --hover-pink: #DC136C;
  --dark-grey: #4B4947;
  --bg-color: #f8f9fa;
  
}

/* General */

main {
  flex: 1 0 auto;
  margin-bottom: 10px;
}

.active {
  font-weight: bold;
}

.heading {
  font-family: Garamond, serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark-grey);
  text-align: center;
}

h2.heading {
  font-family: Garamond, serif;
  color: var(--dark-grey);
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--dark-grey);
  background-color: var(--bg-color);
  margin-bottom: 40px;
  min-height: 100vh;
}

.fa-solid.fa-user-xmark,
.fa-solid.fa-user {
  color: var(--dark-grey);
  cursor: pointer;
  font-size: x-large;
  padding-right: 30px;
  text-decoration: none;
}

.user_name {
  color: var(--dark-grey);
  padding-right: 14px;
}

.btn {
  border-radius: 25px;
}

.btn-primary {
  background-color: var(--light-pink);
  border-color: var(--light-pink);
  color: black;
}

.btn-primary:hover {
  background-color: var(--hover-pink);
  border-color: var(--hover-pink);
  color: var(--dark-grey);
  color: white;
}

ul {
  list-style-type: none;
}

.heading-left {
  text-align: left;
}

.alert-alert-success {
  display: flex;
  justify-content: center;
  background-color: var(--square-blue);
  width: 385px;
  opacity: 0.8;
}

.color-background {
  background-color: var(--square-blue);
  border-radius: 12px;
  padding: 20px;
}

.color-background-light {
  background-color: var(--square-beige);
  border-radius: 12px;
  padding: 20px;
}

.message-center {
  display: flex;
  justify-content: center;
}

/* index */

.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: 14vh;
  object-fit: contain;
}

.background-container {
  background: url(../images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.level-list {
  opacity: 0.8;
}

.darker-p {
  color: black;
}

.alert {
  opacity: 0.7;
}

/* Categories */

#category-heading {
  margin-bottom: 3rem;
}

.cat-cards {
  margin-top: 10px;
}

.card-body {
  background-color: var(--square-blue);
}

/* Activities */

.activity_name {
  margin-top: 20px;
}

.activity-p {
  padding: 20px 20px 0 20px;
}

.rev-link-div {
  display: flex;
  justify-content: flex-end;
}

a.rev-link {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
    color: black;
    padding: 8px 12px;
    border-radius: 25px;
    text-decoration: none;
}

.activity-link {
  color: var(--dark-grey);
  text-decoration: none;
}

.fa-solid.fa-arrow-up-right-from-square {
  color: var(--dark-grey);
  cursor: pointer;
  font-size: large;
  padding-right: 30px;
  text-decoration: none;
}

.fa-solid.fa-arrow-up-right-from-square:hover,
.activity-link:hover {
  color: var(--hover-pink);
}

.previous-btn {
  margin-left: 31px;
}

.previous-div,
.center-button {
  display: flex;
  justify-content: center;
}

/* Podcasts */
.podcast-img {
  background: url(../images/podcast.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.9;
}

/* Indoor activities */
.indoor-img {
  background: url(../images/indoor-activities.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
}

/* Outdoor activities */
.outdoor-img {
  background: url(../images/outdoor-activities.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.9;
}

/* Routines */
.routines-img {
  background: url(../images/routines.webp) no-repeat center center/cover;
  width: auto;
  height: 60vw;
  opacity: 0.8;
}

/* About */

.about-text {
  padding-top: 10px;
}

.about-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  background: url(../images/me.webp) no-repeat center center/cover;
  width: 333px;
  height: auto;
  border-radius: 50%;
  aspect-ratio: 1/1;
  max-width: 333px;
  margin-right: 30px;
}

/* Signout */

.signout{
  margin-right: 4px;
}

.cancel_signout{
  margin-left: 4px;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  height: 7vh;
  bottom: 0px;
  width: 100%;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  /* General */

  .color-background,
  .color-background-light {
    width: 580px;
    margin: 0 auto;
  }

  /* index */
  .img-fluid {
    max-width: 100%;
    height: 20vh;
    object-fit: cover;
  }

  .level-div {
    display: flex;
    justify-content: left;
  }

  /* Categories */
  .cat-img {
    background: url(../images/cat-img.webp) no-repeat center center/cover;
    width: auto;
    height: 50vw;
    margin-top: 28px;
    opacity: 0.8;
    border-radius: 2px;
  }

  /* Activities */

  .img_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }

  .indoor-img {
    flex: 1;
    height: 24vh;
    border-radius: 10px;
    margin-left: 30px;
  }

  .outdoor-img {
    flex: 1;
    height: 24vh;
    border-radius: 10px;
    margin-left: 30px;
  }

  .podcast-img {
    flex: 1;
    height: 24vh;
    border-radius: 10px;
    margin-left: 30px;
  }

  .routines-img {
    flex: 1;
    height: 24vh;
    border-radius: 10px;
    margin-left: 30px;
  }

  .activity-p {
    flex: 1;
  }

  /* About */
  .about-img {
    background: url(../images/me.webp) no-repeat center center/cover;
    width: 225px;
    height: auto;
    border-radius: 3px;
    aspect-ratio: 1/1;
    max-width: 180px;
    margin-left: 20px;
  }
  
}
